// 主题名称
$theme-name: "dark";
// 主题背景颜色
$theme-bg-color: #151515;
// active 状态下主题背景颜色
$active-theme-bg-color: #151515;
// 默认文字颜色
$font-color: #c0c4cc;
// active 状态下文字颜色
$active-font-color: #ffffff;
// hover 状态下文字颜色
$hover-color: #ffffff;
// 边框颜色
$border-color: #303133;
